{% include head.html %}
<header>
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="cell small-12 medium-10 large-8" style="padding-bottom: 12em;">
				<div class="grid-x grid-padding-x">
					<div class="small-6 cell s-ws-top">
						<img src="{{site.url}}/assets/img/logo-white-small.png" style="margin-top:0.6em; height: 32px;">
						<div class="wcolor2 s xs-ws-top">Top-rated NEET coaching for everyone</div>
					</div>
					<div class="small-6 cell m-ws-top">
						<ul class="menu align-right hover">
		          {% include components/nav-menu.html %}
			      </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>