<footer class="main" style="margin-top: -3em; padding-top: 5em">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="cell small-12 medium-10 large-8">
				<div class="grid-x grid-padding-x">
					<div class="small-12 cell wbg brr s-ws-top-p s-ws-bottom-p s-ws-bottom">
						<a><h3 class="">Chapter wise weightage <i class="fa-angle-right fas ibtn"></i></h3></a>
						<a class="ibtn scolor2 s2">Important Chapters</a> <a class="ibtn scolor2 s2 s-ws-left">Number of questions per chapter</a>
					</div>
				</div>
				<div class="grid-x grid-padding-x">
					<div class="small-12 medium-6 cell" style="padding-left: 0">
						<div class="grid-container s-ws-top wbg brr">
							<div class="grid-x grid-padding-x">
								<div class="small-12 cell s-ws-top">
									<h5>NEET 2020 Exam</h5>
									<nav class="">
									  <ul class="vertical menu nakedl s-ws-bottom">
								      <li><a href="" class="scolo s">Cutoff</a></li>
								      <li><a href="" class="scolo s">Pattern</a></li>
								      <li><a href="" class="scolo s">Eligibility</a></li>
									  </ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="small-12 medium-6 cell " style="padding-right: 0;">
						<div class="grid-container s-ws-top wbg brr">
							<div class="grid-x grid-padding-x">
								<div class="small-12 cell s-ws-top">
									<h5>How to</h5>
									<nav class="">
									  <ul class="vertical menu nakedl s-ws-bottom">
								      <li><a href="" class="scolo s">Prepare with school</a></li>
								      <li><a href="" class="scolo s">Manage coaching with school</a></li>
								      <li><a href="" class="scolo s">Learn from videos</a></li>
									  </ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="cell small-12 medium-10 large-8 b-ws-bottom m-ws-top">
				<div class="grid-x grid-padding-x">
					<div class="small-12 cell dbbg brr s-ws-top-p s-ws-bottom-p s-ws-bottom">
						<div class="grid-x grid-padding-x">
							<div class="small-8 cell " style="margin-top: 4em">
								<!-- <p class="bc f-1-5x" style="line-height: 1.2;">We are every Indian's bridge between a future doctor's dreams and reality. </p> -->
								<div class="f-2x bold wc">Personal, Faculty mentored <br> Online NEET coaching<br> for every Indian</div>
								<p class="wcolor s-ws-top">1-on-1 committed attention until you crack NEET</p>
								<div class="button success">Find a Batch</div>
							</div>
							<div class="small-4 cell">
								<img src="https://previews.dropbox.com/p/thumb/AAqcvcGZBUr878baqvcGKzrKORUFYFNFqxWtv-iS4ISSx-DrONPMG35cWUomimxfYSUk7_HMgkFSjm89gYODW_HGDX7Rw4hBBP821Xep8YpMP8qB9qcEePbAzbirS0GehApEoo3ifCoWYHuE7BQcj7mVJZrkqX_r7SoEpO7VWGokJitSljrgShxEH2Iu1dbHaJNh874kBSl2gCsFL6TYZ294qh5z104Frgn1zDwgu513PLynrxqyKhVgkcxm1MMDFIK-ozx6m4pnK-Ld2LKGFVQhRv4eyb05fTzbW_606M0A8i2hiAA9wCBJfx561P59rC0FT8JP-adyo7i2p3SAxvVzhRwhUMct9rg_C067ElnWeCVBcREHltX-a8uDdseoMSvmSSU490kttu6ey9mkv1aBOQUy2nn55MCKRfnsg2OEqw/p.png?fv_content=true&size_mode=5">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="lgbg">
	<div class="grid-container">
		<footer class="grid-x align-center">
			<div class="small-12 medium-10 large-8 medium-centered cell b-ws-top b-ws-bottom">
				<div class="grid-x grid-padding-x">
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer.html %}
					</div>
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer-2.html %}
					</div>
					<div class="small-12 medium-4 cell">
					  {% include components/nav-footer-3.html %}
					</div>
				</div>
				<div class="grid-x">
					<div class="small-12 cell text-center">
						<div class="s scolor2 m-ws-top s-ws-bottom">
						Built with love at New Delhi, India
						</div>
						<div class="s scolor2" style="">
						<!-- Copyright © TVP. All rights reserved. -->
						</div>
					</div>
				</div>
			</div>	
		</footer>
	</div>
</div>

{% include foot.html %}
