// --------------------------------------------------
// Theme
// --------------------------------------------------

.menu{
  a{
	text-transform: uppercase;
	font-weight:bold;	
  font-size: 0.8em;
    &.active{
      border-bottom:3px solid $lightblue; 
    }
  }
  &.hover{
    a:hover,a:active{
      border-bottom:3px solid $lightblue; 
    }
  }
  &.nakedl{
    li a{
      padding-left:0;
    }
  }
}

.progress .meter {
	-moz-transition:width 0.7s ease;
	-webkit-transition:width 0.7s ease;
	-transition:width 0.7s ease;
}
.progress.large{
	height:2rem;
}
/* Stacked progress meter fix */
.progress-meter.stacked{
	display:inline-block;
	float:left;
	.progress-meter-text{
		font-size:1rem;
	}
}
article,.articles{
  h1,h2,h3,h4,h5{
    // font-weight:bold;
    // @extend .bkc;
    // letter-spacing:-1px;
  }
}
h1,h2,h3,h4,h5{
  // letter-spacing: -1px
}
form{
 &.large{
  .input-group-field{
    height: 4rem;
    box-shadow:none;
    font-weight:bold;
    // text-align: right;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
  .input-group-label{
    background:none;
  }
 }
}

.pagination{
  li{
    display:inline-block;
    font-weight:bold;
    text-align:center;
    border-radius:3px;
    a {
      padding:0.5em 1em;
      display:inline-block;
      border-radius:3px;
    }
    
    &.unavailable{
      display:none;
    }
    &.current{
      background:$darkblue;
      a{color:$white;}
    }
  }
}



#load-wrapper {
  position: relative;
  // background: #2A2438;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

#loader{
  display: block;
  position: absolute;
  top: 0%;
  right: 30%;
  transform:scale(4,4);
}

.ball,
.colorRing,
.ringTwo,
.ringThree,
.ringFour {
  top:50%;
  left:50%;
  display:block;
  border-radius:50%;
  position:absolute;
  vertical-align:middle;
}

.colorRing {
  width:8px;
  height: 8px;
  margin:-4px 0 0 -4px;
  border:1px solid $yellow ;
  animation:3600ms pulseIn cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
  -webkit-animation:3600ms pulseIn 100ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite;  
  &.small{
    width:4px;
    height: 4px;
    border:1px solid $green;
    margin:0.5px 0 0 0;
  }         
}

@keyframes pulseIn {
  0%{
    opacity:0.2;
    transform:scale(0.2,0.2);
  }
  50% {
    opacity:1;
    transform:scale(1,1);
  }
  100% {
    opacity:0.2;
    transform:scale(0.2,0.2);
  }
}

@-webkit-keyframes pulseIn {
  0% {
    opacity:0.2;
    -webkit-transform:scale(0.2,0.2);
  }
  50% {
    opacity:1;
    -webkit-transform:scale(1,1);
  }
  100%{
    opacity:0.2;
    -webkit-transform:scale(0.2,0.2);
  }
}
