---
layout: default
---
<main>
	<article>
		<div class="grid-container" style="margin-top: -12em;">
			<div class="grid-x grid-padding-x align-center">
				<div class="cell small-12 medium-10 large-8">
					<div class="grid-x grid-padding-x">
						<div class="small-6 cell">
							<h1 class="wc">{{ page.title }}</h1>
						</div>
						<div class="small-6 cell">
							<nav class="">
							  <ul class="menu align-right">
						      <li><a href="" class="wcolor2 s">NEET 2020</a></li>
						      <li><a href="" class="wc s active">Syllabus</a></li>
						      <li><a href="" class="wcolor2 s">Previous Year Papers</a></li>
							  </ul>
							</nav>
							<!-- <img src="{{site.url}}/assets/img/logo-white-small.png" style="margin-top:0.6em;"> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-container">
			<div class="grid-x grid-padding-x align-center">
				<div class="cell small-12 medium-10 large-8 wbg brr s-ws-top-p">
					<!-- <nav class="">
					  <ul class="menu align-right">
				      <li><a href="" class="scolor2 s">NEET 2020</a></li>
				      <li><a href="" class="dbc s active">Syllabus</a></li>
				      <li><a href="" class="scolor2 s">Previous Year Papers</a></li>
					  </ul>
					</nav> -->
					<!-- <p class="meta s2 scolor2">Updated on: {{ page.date | date_to_string }}</p> -->
					{{ content }}
				</div>
			</div>
		</div>
	</article>
</main>